Package: monitoring-for-openstack
Priority: optional
Section: misc
Version: <VERSION>
Architecture: amd64
Maintainer: monitoring-for-openstack@github.com
Depends: python
Description: OpenStack monitoring component

